<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/public/styles/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body class="">
    <div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<form class="example">
		<input type="text" placeholder="What are you Looking for?" class="search-box" name="search-box">
		</form action="search">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><b> ABCD</b></button>
	</div>
	<div class="navbar">
		<a href="index" class="nav-element">Home</a>
		<div class="dropdown">
		  <button class="dropbtn" class="nav-element"><b>Menu</b>
			<i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content">
			<div class="row">
			  <div class="column">
				<h4>Veggies</h4>
				<a href="#">Veggie and Rice Bowl</a>
				<a href="chickpea.html">Chickpea Rice Bowl</a>
				<a href="recipes.html">Cheese Tortellini</a>
			  </div>
			  <div class="column">
				<h4>Meat</h4>
				<a href="chickencutlet.html">Chicken Cutlets </a>
				<a href="#">Chicken Orzo</a>
				<a href="#"></a>
			  </div>
			  <div class="column">
				<h4>Fit and Wholesome</h4>
				<a href="roastedsalad.html">Roasted Vegetable Salad</a>
				<a href="#">Chocolate covered Strawberries</a>
				<a href="#">Whole Grain Pancakes </a>
				<a href="#">Smoothie Bowl</a>
			  </div>
			  <div class="column">
				<h4>Desserts</h4>
				<a href="#">Chocolate Mug Cake</a>
				<a href="peanutcookie.html">Peanut Butter Cookies</a>
				<a href="#">Banana Ice Cream </a>
			  </div>
			</div>
		  </div>
		</div>
		  <a href="#" class="nav-element" id="about">About</a>
		  <a href="#" class="nav-element">Contact Us</a>
		  <button class="view-plans">View Plans</button>
		</div>
</div>
<div class="border"></div>
    <img src="images/sp logo2.png" class="responsive-logo"><input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </label>

    
    <div class="container">
        <header>
            <h1>Your Shopping Cart</h1>
            <div class="shopping">
                <img src="images/shoppingbag.jpg">
                <span class="quantity">0</span>
            </div>
        </header>

        <div class="list">
          
        </div>
    </div>
    <div class="card">
        <h1>Order Summary</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">Total: 0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>
	<div>
		<a href="payment.html"><button class="place-order">Place Order</button></a>
	</div>

    <script src="cart.js"></script>
</body>
</html>