<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/public/styles/category.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="toggle.js"></script>
</head>
<body>
    <img src="images/sp logo2.png" class="responsive-logo"><input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <!--<i class="fa-solid fa-bars" style="color: #ffffff;"></i>-->
    </label>
	<div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<input type="text" placeholder="What are you Looking for?" class="search-box">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><button class="user-btn"><b> ABCD</b></button></button>
	</div>
	<div class="navbar">
		<a href="index.html" target="#" class="nav-element">Home</a>
		<div class="dropdown">
		  <button class="dropbtn" class="nav-element"><b>Menu</b>
			<i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content">
			<div class="row">
			  <div class="column">
				<h4>Veggies</h4>
				<a href="#">Veggie and Rice Bowl</a>
				<a href="chickpea.html" target="#">Chickpea Rice Bowl</a>
				<a href="recipes.html" target="#">Cheese Tortellini</a>
			  </div>
			  <div class="column">
				<h4>Meat</h4>
				<a href="chickencutlet.html" target="#">Chicken Cutlets </a>
				<a href="#">Chicken Orzo</a>
				<a href="#"></a>
			  </div>
			  <div class="column">
				<h4>Fit and Wholesome</h4>
				<a href="roastedsalad.html" target="#">Roasted Vegetable Salad</a>
				<a href="#">Chocolate covered Strawberries</a>
				<a href="#">Whole Grain Pancakes </a>
				<a href="#">Smoothie Bowl</a>
			  </div>
			  <div class="column">
				<h4>Desserts</h4>
				<a href="#">Chocolate Mug Cake</a>
				<a href="peanutcookie.html" target="#">Peanut Butter Cookies</a>
				<a href="#">Banana Ice Cream </a>
			  </div>
			</div>
		  </div>
		</div>
		<a href="#" class="nav-element" id="about">About</a>
		<a href="#" class="nav-element">Contact Us</a>
        <button class="view-plans">View Plans</button>
	  </div>
      <div class="border"></div>

    <div class="heading">
        <div class="category1">VEGGIES</div>
        <div class="button">See all</div>
    </div>

    <div class="rectangle-box ">
        <div class="item">
            <img class="recipe_img" src="images/recipes images/category images/veggies.jpg" />
            <div class="content-box">
                <div class="recipe_name">Veggies and Rice Bowl</div>
                <div class="recipe_desc">loaded stir-fry of veggies, rice and flavours</div>
                <div class="recipe_detail">
                    <div class="time">15 minutes  | 400 Cal </div>
                    <div class="level">EASY</div>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="chickpea.html" target="#"><img class="recipe_img" src="images/recipes images/category images/chickpea.jpg" /></a>
            <div class="content-box">
                <div class="recipe_name">Chickpea Rice Bowl</div>
                <div class="recipe_desc">roasted chickpeas, onion, tomatoes and spices</div>
                <div class="recipe_detail">
                    <div class="time">30 minutes  | 400 Cal </div>
                    <div class="level">MEDIUM</div>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="recipes.html" target="#"><img class="recipe_img" src="images/recipes images/category images/cheesetort.jpg"></a>
            <div class="content-box">
                <div class="recipe_name">Cheese Tortellini</div>
                <div class="recipe_desc">Parmesan, and Chili Flakes</div>
                <div class="recipe_detail">
                    <div class="time">40 minutes  | 720 Kcal </div>
                    <div class="level">EASY</div>
                </div>
            </div>
        </div>
    </div>

<!--category2 MEAT-->
    <div class="heading">
        <div class="category1">MEAT</div>
        <div class="button">See all</div>
    </div>

    <div class="rectangle-box">
        <div class="item">
            <a href="chickencutlet.html" target="#"><img class="recipe_img" src="images/recipes images/category images/chickencut.jpg" /></a>
            <div class="content-box">
                <div class="recipe_name">Chicken Cutlets</div>
                <div class="recipe_desc">spices with cherry jam, pineapple juice</div>
                <div class="recipe_detail">
                    <div class="time">15 minutes  | 400 Cal </div>
                    <div class="level">EASY</div>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="recipe_img" src="images/recipes images/category images/chickenorzo.jpg" />
            <div class="content-box">
                <div class="recipe_name">Chicken Orzo</div>
                <div class="recipe_desc">roasted chickpeas, onion, tomatoes and spices</div>
                <div class="recipe_detail">
                    <div class="time">30 minutes  | 400 Cal </div>
                    <div class="level">MEDIUM</div>
                </div>
            </div>
        </div>

    </div>

    <!--category3 FIT&WHOLESOME-->
    <div class="heading">
        <div class="category1">FIT & WHOLESOME</div>
        <div class="button">See all</div>
    </div>

    <div class="rectangle-box">
        <div class="item">
            <a href="roastedsalad.html" target="#"><img class="recipe_img" src="images/recipes images/category images/roasted salad.jpg" /></a>
            <div class="content-box">
                <div class="recipe_name">Roasted Vegetable Salad</div>
                <div class="recipe_desc">oregano-roasted potatoes, bell pepper,onion</div>
                <div class="recipe_detail">
                    <div class="time">15 minutes  | 400 Cal </div>
                    <div class="level">EASY</div>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="recipe_img" src="images/recipes images/category images/chocostraw.jpg" />
            <div class="content-box">
                <div class="recipe_name">Chocolate dipped Strawberries</div>
                <div class="recipe_desc">chocolate, milk and strawberries</div>
                <div class="recipe_detail">
                    <div class="time">30 minutes  | 400 Cal </div>
                    <div class="level">MEDIUM</div>
                </div>
            </div>
        </div>

    </div>

    <!--category4 DESSERT-->
    <div class="heading">
        <div class="category1">DESSERTS</div>
        <div class="button">See all</div>
    </div>

    <div class="rectangle-box">
        <div class="item">
            <img class="recipe_img" src="images/recipes images/category images/bananaice.jpg" />
            <div class="content-box">
                <div class="recipe_name">Banana Ice Cream</div>
                <div class="recipe_desc">berry nice cream, matcha nice cream to chocolate</div>
                <div class="recipe_detail">
                    <div class="time">10 minutes  | 400 kCal  </div>
                    <div class="level">EASY</div>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="recipe_img" src="images/recipes images/category images/brownies.jpg" />
            <div class="content-box">
                <div class="recipe_name">Chocolate brownies</div>
                <div class="recipe_desc">chocolate brownie mix, melted butter</div>
                <div class="recipe_detail">
                    <div class="time">45 minutes  | 400 Cal </div>
                    <div class="level">MEDIUM</div>
                </div>
            </div>
        </div>

        <div class="item">
            <a href="peanutcookie.html" target="#"><img class="recipe_img" src="images/recipes images/category images/cookies.jpg" /></a>
            <div class="content-box">
                <div class="recipe_name">Chocolate dipped peanut cookies</div>
                <div class="recipe_desc">white chocolate chips and peanuts</div>
                <div class="recipe_detail">
                    <div class="time">50 minutes  | 720 Kcal  </div>
                    <div class="level">EASY</div>
                </div>
            </div>
        </div>
  
    </div>
    <div class="footer">
        <div class="footer-container">
            <div><img src="images/sp logo2.png" class="footer-logo"></div>
            <div class="columns">
                <div class="col1">
                    <ul>
                        <span class="heading"><li>First Col</li></span>
                        <li>First page</li>
                        <li>Second page</li>
                        <li>Third page</li>
                        <li>Fourth page</li>
                    </ul>
                </div>
                <div class="col1">
                    <ul>
                        <span class="heading"><li>Second Col</li></span>
                        <li>First page</li>
                        <li>Second page</li>
                        <li>Third page</li>
                        <li>Fourth page</li>
                    </ul>
                </div>
                <div class="col1">
                    <ul>
                        <span class="heading"><li>Third Col</li></span>
                        <li>First page</li>
                        <li>Second page</li>
                        <li>Third page</li>
                        <li>Fourth page</li>
                    </ul>
                </div>
            </div>
            <div class="col2">
                <p class="Subscribe">Subscribe</p>
                <input type="text" class="footer-input" placeholder="Enter Name">
                <p class="footer-desc2"> Subscribe to our newsletter to stay up to date on new <br>products and features. </p>
            </div>
        </div>
    </div>


</body>
</html>