<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/styles/recipes.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Sweet 'n' Smoky Chicken Cutlets</title>
</head>
<body>
	<div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<input type="text" placeholder="What are you Looking for?" class="search-box">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><b> ABCD</b></button>
	</div>
    <div class="navbar">
		<a href="#home">Home</a>
		<div class="dropdown">
		  <button class="dropbtn"><b>Menu</b>
			<i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content">
			<div class="row">
			  <div class="column">
				<h4>Veggies</h4>
				<a href="#">Veggie and Rice Bowl</a>
				<a href="#">Chickpea Rice Bowl</a>
				<a href="#">Cheese Tortellini</a>
			  </div>
			  <div class="column">
				<h4>Meat</h4>
				<a href="#">Chicken Cutlets </a>
				<a href="#">Chicken Orzo</a>
				<a href="#"></a>
			  </div>
			  <div class="column">
				<h4>Fit and Wholesome</h4>
				<a href="#">Roasted Vegetable Salad</a>
				<a href="#">Chocolate covered Strawberries</a>
				<a href="#">Whole Grain Pancakes </a>
				<a href="#">Smoothie Bowl</a>
			  </div>
			  <div class="column">
				<h4>Desserts</h4>
				<a href="#">Chocolate Mug Cake</a>
				<a href="#">Peanut Butter Cookies</a>
				<a href="#">Banana Ice Cream </a>
			  </div>
			</div>
		  </div>
		</div>
		<a href="#">About</a>
		<a href="#">Contact Us</a>
	  </div>
<div class="border"></div>

<div class="flow-div">
	<span class="flow">flow > > > </span>
</div>
<!-----------green-card----->
<div class="green-card">
	<div class="card-item1">
		<img src="images/recipes images/meat/cut1.jpg" class="main-img">
	</div>
	<div class="card-items">
		<p>Meat </p>
		<h2>Sweet 'n' Smoky Chicken Cutlets</h2>
		<span>with Cherry Ancho BBQ Sauce, Green Beans & Pineapple Rice</span><br><br>
		<table class="table-desc">
				<tr>
					<td>30</td>
					<td>457</td>
					<td>15</td>
				</tr>
				<tr class="row2">
					<td>MINS </td>
					<td>NUTRTITION </td>
					<td>INGRIDENTS </td>
				</tr><button>ADD TO CART </button>
			</table>
			<p>Level : Easy</p> 
	</div>
</div>
<div class="desc-container">
	<div class="desc-item1">
		<h3>DESCRIPTION </h3>
		<p> Barbecue chicken just got even better thanks to a few secret ingredients from our chefs. These thinly-sliced chicken cutlets are coated in a sauce that combines barbecue spices with cherry jam, pineapple juice, and ancho chili powder. The result is something as succulently sweet as it is smoky. Plus, it pairs brilliantly with buttered green beans and the pineapple rice that continues the fruit theme.</p>
	</div>
	<div class="desc-item2">
		<h3>QUICK INFO </h3>
		<p>Tags: Spicy <br>
		Allergens: Milk </p>
	</div>
</div>
<div class="grid-container1">
<div class="ingredients-nutrition">
	<h3>INGREDIENTS</h3><br>
    <div class="ingredient">
        <input type="checkbox" id="ingredient1" name="ingredient1">
        <div class="circle-image">
            <img src="/views/images/recipes images/meat/cut2.jpg" alt="Ingredient Image 1">
        </div>
        <div class="ingredient-details">
            <p>2 units</p>
            <p>Scallions</p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient2" name="ingredient2">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut3.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>4 ounce</p>
            <p>Pineapple</p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient3" name="ingredient3">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut4.jpg" alt="Ingredient Image 3">
        </div>
        <div class="ingredient-details">
            <p>2 tablespoon</p>
            <p>Cherry Jam </p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient4" name="ingredient4">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut5.jpg" alt="Ingredient Image 4">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Chicken Stock Concentrate</p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient5" name="ingredient5">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut6.jpg" alt="Ingredient Image 5">
        </div>
        <div class="ingredient-details">
            <p>1 tablespoon</p>
            <p>Sweet and Smoky BBQ Seasoning </p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient6" name="ingredient6">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut7.jpg" alt="Ingredient Image 6">
        </div>
        <div class="ingredient-details">
            <p>1 teaspoon</p>
            <p>Ancho Chili Powder</p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient7" name="ingredient7">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut8.jpg" alt="Ingredient Image 7">
        </div>
        <div class="ingredient-details">
            <p>5 teaspoon</p>
            <p>White Wine Vinegar </p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient8" name="ingredient8">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut9.jpg" alt="Ingredient Image 8">
        </div>
        <div class="ingredient-details">
            <p>½ cup</p>
            <p>Basmati Rice</p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient9" name="ingredient9">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut20.jpg" alt="Ingredient Image 9">
        </div>
        <div class="ingredient-details">
            <p>10 ounce</p>
            <p>Chicken Cutlets </p>
        </div>
    </div>
    <div class="ingredient">
        <input type="checkbox" id="ingredient10" name="ingredient10">
        <div class="circle-image">
            <img src="images/recipes images/meat/cut10.jpg" alt="Ingredient Image 10">
        </div>
        <div class="ingredient-details">
            <p>6 ounce</p>
            <p>Green Beans</p>
        </div>
    </div>
</div>
<div class="nutrition">
	<div>
		<h3>NUTRITION </h3>
		<ul>
			<li>Energy(KJ) </li>
			<li>Calories </li>
			<li>Fats </li>
			<li>Saturated Fats </li>
			<li>Carbohydrates </li>
			<li>Sugar </li>
            <li>Dietary Fiber </li>
			<li>Protein </li>
			<li>Cholestrol </li>
            <li>Sodium </li>
		</ul>
	</div>
	<div>
		<p>/ per serving</p>
		<ul>
			<li>2887 kJ</li>
			<li>690 kcal </li>
			<li>25 g</li>
			<li>13 g</li>
			<li>79 g</li>
			<li>29 g</li>
			<li>3 g</li>
			<li>34 g</li>
            <li>150 mg</li>
            <li>290 mg</li>
		</ul>
	</div>
</div>
</div>
<div class="instructions">
    <h3>INSTRUCTIONS</h3>
    <div class="instructions-container">
        <div class="steps">
            <img src="images/recipes images/meat/cut11.jpg" class="step-img">
            <p class="step-p">1. Wash and dry all produce (except green beans). Trim and thinly slice scallions, separating whites from greens. 
                Drain pineapple over a small bowl, reserving juice. 
                Stir jam, stock concentrate, BBQ Seasoning, half the vinegar, ¼ tsp chili powder (be sure to measure; you’ll use more later), and 2 tsp sugar into bowl with reserved pineapple juice. 
                (For 4 servings, use all the vinegar, ½ tsp chili powder, and 3 tsp sugar.)
                </p> 
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/cut12.jpg" class="step-img">
            <p class="step-p">2. Melt 1 TBSP butter (2 TBSP for 4 servings) in a small pot over mediumhigh heat. Add pineapple and scallion whites. 
                Cook, stirring occasionally, until just softened, 1-2 minutes. 
                Stir in ¾ cup water (1½ cups for 4), rice, salt, and pepper. 
                Bring to a boil, then cover and reduce heat to low. 
                Cook until rice is tender, 15-18 minutes. Keep covered off heat until ready to serve.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/cut13.jpg" class="step-img">
            <p class="step-p">3. Meanwhile, pat chicken dry with paper towels; season all over with salt, pepper, and ½ tsp chili powder (1 tsp for 4 servings; we sent more). 
                Heat a drizzle of oil in a large, preferably nonstick, pan over medium-high heat. 
                Add chicken and cook until browned and cooked through, 3-5 minutes per side. 
                Turn off heat; transfer to a plate. Wipe out pan.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/cut14.jpg" class="step-img">
            <p class="step-p">4. Pierce green bean bag with a fork; place bag on a plate. 
                Microwave until tender, 1-2 minutes. <br>
                (TIP: No microwave? No problem! Steam beans in a small pot with a splash of water until just tender, 5-7 minutes.)<br> 
                Carefully transfer beans to a medium bowl and toss with 1 TBSP butter (2 TBSP for 4 servings) until melted. 
                Season with salt and pepper.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/cut15.jpg" class="step-img">
            <p class="step-p">5. Heat pan used for chicken over medium-high heat. 
                Pour in jam mixture. Bring to a simmer and cook until thickened and glossy, 1-2 minutes (2-3 minutes for 4 servings).<br> 
                (TIP: It’s ready when it coats the back of a spoon.) <br>
                Remove from heat and stir in 1 TBSP butter.
                Add chicken to pan and turn to coat in sauce. 
                Season with salt and pepper.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/cut16.jpg" class="step-img">
            <p class="step-p">6. Fluff rice with a fork, then divide between plates along with chicken and green beans. 
                Drizzle chicken with any remaining sauce. Garnish with scallion greens and serve.
                </p>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-container">
        <div><img src="images/sp logo2.png" class="footer-logo"></div>
        <div class="columns">
            <div class="col1">
                <ul>
                    <span class="heading"><li>First Col</li></span>
                    <li>First page</li>
                    <li>Second page</li>
                    <li>Third page</li>
                    <li>Fourth page</li>
                </ul>
            </div>
            <div class="col1">
                <ul>
                    <span class="heading"><li>Second Col</li></span>
                    <li>First page</li>
                    <li>Second page</li>
                    <li>Third page</li>
                    <li>Fourth page</li>
                </ul>
            </div>
            <div class="col1">
                <ul>
                    <span class="heading"><li>Third Col</li></span>
                    <li>First page</li>
                    <li>Second page</li>
                    <li>Third page</li>
                    <li>Fourth page</li>
                </ul>
            </div>
        </div>
        <div class="col2">
            <p class="Subscribe">Subscribe</p>
            <input type="text" class="footer-input" placeholder="Enter Name">
            <p class="footer-desc2"> Subscribe to our newsletter to stay up to date on new <br>products and features. </p>
        </div>
    </div>
</div>
</body>
</html>