<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/styles/recipes.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Chicken Orzo Dinner</title>
</head>
<body>
	<div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<input type="text" placeholder="What are you Looking for?" class="search-box">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><b> ABCD</b></button>
	</div>
	<div class="navbar">
		<a href="#home" class="nav-element">Home</a>
		<div class="dropdown">
		  <button class="dropbtn" class="nav-element"><b>Menu</b>
			<i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content">
			<div class="row">
			  <div class="column">
				<h4>Veggies</h4>
				<a href="#">Veggie and Rice Bowl</a>
				<a href="#">Chickpea Rice Bowl</a>
				<a href="#">Cheese Tortellini</a>
			  </div>
			  <div class="column">
				<h4>Meat</h4>
				<a href="#">Chicken Cutlets </a>
				<a href="#">Chicken Orzo</a>
				<a href="#"></a>
			  </div>
			  <div class="column">
				<h4>Fit and Wholesome</h4>
				<a href="#">Roasted Vegetable Salad</a>
				<a href="#">Chocolate covered Strawberries</a>
				<a href="#">Whole Grain Pancakes </a>
				<a href="#">Smoothie Bowl</a>
			  </div>
			  <div class="column">
				<h4>Desserts</h4>
				<a href="#">Chocolate Mug Cake</a>
				<a href="#">Peanut Butter Cookies</a>
				<a href="#">Banana Ice Cream </a>
			  </div>
			</div>
		  </div>
		</div>
		  <a href="#" class="nav-element" id="about">About</a>
		  <a href="#" class="nav-element">Contact Us</a>
		  <button class="view-plans">View Plans</button>
		</div>
</div>
<div class="border"></div>


<div class="flow-div">
	<span class="flow">flow > > > </span>
</div>
<!-----------green-card----->
<div class="green-card">
	<div class="card-item1">
		<img src="images/recipes images/meat/co1.jpg" class="main-img">
	</div>
	<div class="card-items">
		<p>Meat </p>
		<h2>Chicken Orzo Dinner</h2>
		<span>with Cheesy Roasted Zucchini and Tomato</span><br><br>
		<table class="table-desc">
				<tr>
					<td>30</td>
					<td>587</td>
					<td>13</td>
				</tr>
				<tr class="row2">
					<td>MINS </td>
					<td>NUTRTITION </td>
					<td>INGRIDENTS </td>
				</tr><button>ADD TO CART </button>
			</table>
			<p>Level : Easy</p> 
	</div>
</div>
<div class="desc-container">
	<div class="desc-item1">
		<h3>DESCRIPTION </h3>
		<p> Although this recipe's zucchini and tomato medley is a side, it takes center stage in our eyes. It's equally as creamy as it is crispy, and the combination of panko, mozzarella, and Parmesan sprinkled on top is to thank for that. Served next to an herbed chicken breast and lemony orzo that keep things simple and satisfying, this meal keeps it light without lacking in flavor.</p>
	</div>
	<div class="desc-item2">
		<h3>QUICK INFO </h3>
		<p>Tags: Creamy <br>
		Allergens:Wheat, Milk </p>
	</div>
</div>
<div class="grid-container1">
<div class="ingredients-nutrition">
	<h3>INGREDIENTS</h3><br>
    <div class="ingredient">
        <div class="circle-image">
            <img src="\views\images\recipes images\meat\co2.jpg" alt="Ingredient Image 1">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Zucchini</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co3.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Roma Tomato</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co4.jpg" alt="Ingredient Image 3">
        </div>
        <div class="ingredient-details">
            <p>1 tablespoon</p>
            <p>Italian Seasoning </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co5.jpg" alt="Ingredient Image 4">
        </div>
        <div class="ingredient-details">
            <p>3 ounce</p>
            <p>Orzo Pasta</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co6.jpg" alt="Ingredient Image 5">
        </div>
        <div class="ingredient-details">
            <p>12 ounce</p>
            <p>Chicken Breasts</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co7.jpg" alt="Ingredient Image 6">
        </div>
        <div class="ingredient-details">
            <p>4 ounce</p>
            <p>Fresh Mozzarella</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co8.jpg" alt="Ingredient Image 7">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Lemon </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co9.jpg" alt="Ingredient Image 8">
        </div>
        <div class="ingredient-details">
            <p>¼ ounce</p>
            <p>Parsley</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co10.jpg" alt="Ingredient Image 9">
        </div>
        <div class="ingredient-details">
            <p>¼ cup</p>
            <p>Panko Breadcrumbs </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/meat/co11.jpg" alt="Ingredient Image 10">
        </div>
        <div class="ingredient-details">
            <p>¼ cup</p>
            <p>Parmesan Cheese</p>
        </div>
    </div>
</div>
<div class="nutrition">
	<div>
		<h3>NUTRITION </h3>
		<ul>
			<li>Energy(KJ) </li>
			<li>Calories </li>
			<li>Fats </li>
			<li>Saturated Fats </li>
			<li>Carbohydrates </li>
			<li>Sugar </li>
            <li>Dietary Fiber </li>
			<li>Protein </li>
			<li>Cholestrol </li>
            <li>Sodium </li>
		</ul>
	</div>
	<div>
		<p>/ per serving</p>
		<ul>
			<li>3054 kJ</li>
			<li>730 kcal </li>
			<li>33 g</li>
			<li>15 g</li>
			<li>54 g</li>
			<li>8 g</li>
			<li>7 g</li>
			<li>61 g</li>
            <li>160 mg</li>
            <li>520 mg</li>
		</ul>
	</div>
</div>
</div>
<div class="instructions">
    <h3>INSTRUCTIONS</h3>
    <div class="instructions-container">
        <div class="steps">
            <img src="images/recipes images/meat/co12.jpg" class="step-img">
            <p class="step-p">1. Wash and dry all produce. Adjust rack to upper position and preheat oven to 425 degrees. 
                Bring a large pot of salted water to a boil.<br> 
                Slice zucchini into ¼-inch-thick rounds. Cut tomato into ½-inch-thick wedges. 
                Toss zucchini and tomato with 1 TBSP olive oil and half the Italian seasoning on a baking sheet. 
                Season with salt and pepper.
                </p> 
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/co13.jpg" class="step-img">
            <p class="step-p">2. Roast zucchini and tomato in oven until just shy of tender, about 10 minutes.<br> 
                Once water is boiling, add half the orzo from package to pot (use the rest as you like). 
                Cook, stirring occasionally, until al dente, 9-11 minutes. 
                Drain, then return to pot.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/co14.jpg" class="step-img">
            <p class="step-p">3. With your hand on top of one chicken breast, cut ¾ of the way through middle, parallel to cutting board, stopping before you slice through completely. 
                Repeat with other chicken breast. 
                Open each up and season all over with salt, pepper, and remaining Italian seasoning.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/co15.jpg" class="step-img">
            <p class="step-p">4. Heat a drizzle of olive oil in a large pan over medium-high heat. 
                Add chicken and cook until no longer pink in center, 3-4 minutes per side. 
                Remove from pan and set aside on a plate.<br> 
                Meanwhile, cut mozzarella into ½-inch cubes. Halve lemon. 
                Roughly chop parsley.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/co16.jpg" class="step-img">
            <p class="step-p">5. Once veggies have roasted 10 minutes, remove baking sheet from oven. 
                Heat broiler to high or increase oven temperature to 500 degrees.<br> 
                Sprinkle veggies with panko, mozzarella, and Parmesan. 
                Broil (or bake) until panko is golden brown, cheese is melted, and veggies are tender, 3-5 minutes.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/meat/co17.jpg" class="step-img">
            <p class="step-p">6. Add juice from one lemon half and half the parsley to pot with orzo and toss to combine. 
                Season to taste with salt and pepper. Divide orzo between plates. Top with veggies and chicken.<br> 
                Drizzle with any chicken juices from plate and a squeeze of lemon.<br>
                Garnish with remaining parsley and serve.
                </p>
        </div>
    </div>
</div>
</body>
</html>