<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/styles/recipes.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Chickpea Rice Bowl</title>
</head>
<body>
	<div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<input type="text" placeholder="What are you Looking for?" class="search-box">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><b> ABCD</b></button>
	</div>
    <div class="navbar">
		<a href="#home" class="nav-element">Home</a>
		<div class="dropdown">
		  <button class="dropbtn" class="nav-element"><b>Menu</b>
			<i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content">
			<div class="row">
			  <div class="column">
				<h4>Veggies</h4>
				<a href="#">Veggie and Rice Bowl</a>
				<a href="#">Chickpea Rice Bowl</a>
				<a href="#">Cheese Tortellini</a>
			  </div>
			  <div class="column">
				<h4>Meat</h4>
				<a href="#">Chicken Cutlets </a>
				<a href="#">Chicken Orzo</a>
				<a href="#"></a>
			  </div>
			  <div class="column">
				<h4>Fit and Wholesome</h4>
				<a href="#">Roasted Vegetable Salad</a>
				<a href="#">Chocolate covered Strawberries</a>
				<a href="#">Whole Grain Pancakes </a>
				<a href="#">Smoothie Bowl</a>
			  </div>
			  <div class="column">
				<h4>Desserts</h4>
				<a href="#">Chocolate Mug Cake</a>
				<a href="#">Peanut Butter Cookies</a>
				<a href="#">Banana Ice Cream </a>
			  </div>
			</div>
		  </div>
		</div>
		  <a href="#" class="nav-element" id="about">About</a>
		  <a href="#" class="nav-element">Contact Us</a>
		  <button class="view-plans">View Plans</button>
		</div>
</div>
<div class="border"></div>

<div class="flow-div">
	<span class="flow">flow > > > </span>
</div>
<!-----------green-card----->
<div class="green-card">
	<div class="card-item1">
		<img src="images/recipes images/veggies/chickpea1.jpg" class="main-img">
	</div>
	<div class="card-items">
		<p>Veggies </p>
		<h2>Chickpea Rice Bowl</h2>
		<span>Spiced Basmati Rice & Garlicky White Sauce</span><br><br>
		<table class="table-desc">
				<tr>
					<td>40</td>
					<td>610</td>
					<td>16</td>
				</tr>
				<tr class="row2">
					<td>MINS </td>
					<td>NUTRTITION </td>
					<td>INGRIDENTS </td>
				</tr>
                <button class="buy-now-btn">ADD TO CART </button>
			</table>
			<p>Level : Medium </p> 
	</div>
</div>
<div class="desc-container">
	<div class="desc-item1">
		<h3>DESCRIPTION </h3>
		<p>We swoon for shawarma. For this veggie-centric spin, we swap the traditional spit-roasted meat for roasted chickpeas, onion, and tomatoes, but keep all the same aromatic, warming spices. It’s all served over ultra-flavorful, spiced basmati rice. If you’re anything like us, one of our favorite parts about shawarma is the sauce selection—and don’t worry, we didn’t skimp. You’ll drizzle hot sauce and a creamy, garlicky white sauce over top until you reach your ideal sauce-to-veggie ratio. That’s right, no more dry (or drowning) bowls—you’re in total sauce control.</p>
	</div>
	<div class="desc-item2">
		<h3>QUICK INFO </h3>
		<p>Tags: Calorie Smart, Veggie <br>
		Allergens: Milk </p>
	</div>
</div>
<div class="grid-container1">
<div class="ingredients-nutrition">
	<h3>INGREDIENTS</h3><br>
    <div class="ingredient">
        <div class="circle-image">
            <img src="\views\images\recipes images\veggies\chickpea2.jpg" alt="Ingredient Image 1">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Red Onion</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea3.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>¼ ounce</p>
            <p>Cilantro </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea4.jpg" alt="Ingredient Image 3">
        </div>
        <div class="ingredient-details">
            <p>½ cup</p>
            <p>Basmati Rice </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea5.jpg" alt="Ingredient Image 4">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Chickpeas</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea6.jpg" alt="Ingredient Image 5">
        </div>
        <div class="ingredient-details">
            <p>3 tablespoon</p>
            <p>Sour Cream</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea7.jpg" alt="Ingredient Image 6">
        </div>
        <div class="ingredient-details">
            <p>1 clove</p>
            <p>Garlic</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea8.jpg" alt="Ingredient Image 7">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Lemon </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea9.jpg" alt="Ingredient Image 8">
        </div>
        <div class="ingredient-details">
            <p>4 ounce</p>
            <p>Grape Tomatoes</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea20.jpg" alt="Ingredient Image 9">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Veggie Stock Concentrate </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea20.jpg" alt="Ingredient Image 10">
        </div>
        <div class="ingredient-details">
            <p>1 tablespoon</p>
            <p>Shawarma Spice Blend</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies/chickpea10.jpg" alt="Ingredient Image 11">
        </div>
        <div class="ingredient-details">
            <p>1 teaspoon</p>
            <p>Hot Sauce</p>
        </div>
    </div>
</div>
<div class="nutrition">
	<div>
		<h3>NUTRITION </h3>
		<ul>
			<li>Energy(KJ) </li>
			<li>Calories </li>
			<li>Fats </li>
			<li>Saturated Fats </li>
			<li>Carbohydrates </li>
			<li>Sugar </li>
            <li>Dietary Fiber </li>
			<li>Protein </li>
			<li>Cholestrol </li>
            <li>Sodium</li>
		</ul>
	</div>
	<div>
		<p>/ per serving</p>
		<ul>
			<li>3222 KJ </li>
			<li>610 kcal </li>
			<li>19 g</li>
			<li>6 g</li>
			<li>95 g</li>
			<li>12 g</li>
			<li>9 g</li>
			<li>17 g</li>
            <li>25 mg</li>
            <li>860 mg</li>
		</ul>
	</div>
</div>
</div>
<div class="instructions">
    <h3>INSTRUCTIONS</h3>
    <div class="instructions-container">
        <div class="steps">
            <img src="images/recipes images/veggies/chickpea14.jpg" class="step-img">
            <p class="step-p">1. Adjust rack to top position (top and middle positions for 4 servings) and preheat oven to 425 degrees. Wash and dry produce. 
                <br>Halve, peel, and cut onion into ½-inch-thick wedges; mince a few wedges until you have 2 TBSP (4 TBSP for 4).
                <br>Peel and mince or grate garlic. 
                <br>Drain and rinse chickpeas; dry thoroughly with paper towels. 
                <br> Roughly chop cilantro. Zest and quarter lemon.
                </p> 
        </div>
        <div class="steps">
            <img src="images/recipes images/veggies/chickpea15.jpg" class="step-img">
            <p class="step-p">2. Heat a drizzle of oil in a small pot (use a medium pot for 4 servings) over medium-high heat.
                <br>Add minced onion, half the garlic, half the Shawarma Spice Blend (you’ll use the rest in the next step), and a pinch of salt. Cook, stirring, 1 minute. 
                <br>Stir in rice, ¾ cup water (1½ cups for 4), stock concentrate, and a big pinch of salt. Bring to a boil, then cover and reduce heat to low. Cook until rice is tender, 15-18 minutes. 
                <br>Keep covered off heat until ready to use in step 5.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/veggies/chickpea16.jpg" class="step-img">
            <p class="step-p">3. Meanwhile, toss onion wedges, tomatoes, and chickpeas on a baking sheet with a drizzle of olive oil, remaining Shawarma Spice Blend, pepper, and a few pinches of salt. (For 4 servings, divide everything between 2 baking sheets; roast on top and middle racks, tossing veggies and swapping rack positions halfway through roasting.) 
                <br>Roast on top rack, tossing halfway through, until veggies are tender and lightly charred and chickpeas are crispy, 18-20 minutes. (It’s natural for chickpeas to pop a bit while roasting.)
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/veggies/chickpea17.jpg" class="step-img">
            <p class="step-p">4. Meanwhile, in a small bowl, combine sour cream and remaining garlic to taste. Season with salt. Stir in water 1 tsp at a time until mixture reaches a drizzling consistency.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/veggies/chickpea18.jpg" class="step-img">
            <p class="step-p">5. Fluff rice with a fork; stir in half the cilantro and ½ TBSP butter (1 TBSP for 4 servings). Season with salt and pepper. 
                <br>Once veggies and chickpeas are done, remove from oven and toss with lemon zest.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/veggies images/img76.jpg" class="step-img">
            <p class="step-p">6. Divide rice between shallow bowls. Top with veggies and chickpeas. 
                <br>Drizzle with garlicky white sauce and hot sauce to taste. Sprinkle with remaining cilantro. 
                <br>Top with lemon juice to taste; serve with any remaining lemon wedges on the side.                
                </p>
        </div>
    </div>
</div>
<div class="footer">
	<div class="footer-container">
		<div><img src="images/sp logo2.png" class="footer-logo"></div>
		<div class="columns">
			<div class="col1">
				<ul>
					<span class="heading"><li>First Col</li></span>
					<li>First page</li>
					<li>Second page</li>
					<li>Third page</li>
					<li>Fourth page</li>
				</ul>
			</div>
			<div class="col1">
				<ul>
					<span class="heading"><li>Second Col</li></span>
					<li>First page</li>
					<li>Second page</li>
					<li>Third page</li>
					<li>Fourth page</li>
				</ul>
			</div>
			<div class="col1">
				<ul>
					<span class="heading"><li>Third Col</li></span>
					<li>First page</li>
					<li>Second page</li>
					<li>Third page</li>
					<li>Fourth page</li>
				</ul>
			</div>
		</div>
		<div class="col2">
			<p class="Subscribe">Subscribe</p>
			<input type="text" class="footer-input" placeholder="Enter Name">
			<p class="footer-desc2"> Subscribe to our newsletter to stay up to date on new <br>products and features. </p>
		</div>
	</div>
</div>
</body>
</html>