<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/styles/recipes.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Cranberry-Apple Kale Salad</title>
</head>
<body>
	<div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<input type="text" placeholder="What are you Looking for?" class="search-box">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><b> ABCD</b></button>
	</div>
	<div class="navbar">
		<a href="#home" class="nav-element">Home</a>
		<div class="dropdown">
		  <button class="dropbtn" class="nav-element"><b>Menu</b>
			<i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content">
			<div class="row">
			  <div class="column">
				<h4>Veggies</h4>
				<a href="#">Veggie and Rice Bowl</a>
				<a href="#">Chickpea Rice Bowl</a>
				<a href="#">Cheese Tortellini</a>
			  </div>
			  <div class="column">
				<h4>Meat</h4>
				<a href="#">Chicken Cutlets </a>
				<a href="#">Chicken Orzo</a>
				<a href="#"></a>
			  </div>
			  <div class="column">
				<h4>Fit and Wholesome</h4>
				<a href="#">Roasted Vegetable Salad</a>
				<a href="#">Chocolate covered Strawberries</a>
				<a href="#">Whole Grain Pancakes </a>
				<a href="#">Smoothie Bowl</a>
			  </div>
			  <div class="column">
				<h4>Desserts</h4>
				<a href="#">Chocolate Mug Cake</a>
				<a href="#">Peanut Butter Cookies</a>
				<a href="#">Banana Ice Cream </a>
			  </div>
			</div>
		  </div>
		</div>
		  <a href="#" class="nav-element" id="about">About</a>
		  <a href="#" class="nav-element">Contact Us</a>
		  <button class="view-plans">View Plans</button>
		</div>
</div>
<div class="border"></div>


<div class="flow-div">
	<span class="flow">flow > > > </span>
</div>
<!-----------green-card----->
<div class="green-card">
	<div class="card-item1">
		<img src="images/recipes images/fit/caks1.jpg" class="main-img">
	</div>
	<div class="card-items">
		<p>Fit and Wholesum</p>
		<h2>Cranberry-Apple Kale Salad</h2>
		<span>with Roasted Veggies, Parm Frico & Garlic Ciabatta</span><br><br>
		<table class="table-desc">
				<tr>
					<td>40</td>
					<td>317</td>
					<td>15</td>
				</tr>
				<tr class="row2">
					<td>MINS </td>
					<td>NUTRTITION </td>
					<td>INGRIDENTS </td>
				</tr><button>ADD TO CART </button>
			</table>
			<p>Level : Medium</p> 
	</div>
</div>
<div class="desc-container">
	<div class="desc-item1">
		<h3>DESCRIPTION </h3>
		<p>Step aside, side salad—this hearty kale version is the stuff of dinner dreams. We toss the leafy greens with crunchy apple slices, roasted Brussels sprouts and sweet potato, chewy dried cranberries, and a creamy, tangy honey Dijon dressing. It’s all topped with Parm frico—aka deliciously crispy cheese wafers—for a hearty-yet-light-feeling dinner you’re going to want to make again and again.</p>
	</div>
	<div class="desc-item2">
		<h3>QUICK INFO </h3>
		<p>Tags: Veggie, Seasonal <br>
		Allergens: Soy, Wheat, Eggs, Milk </p>
	</div>
</div>
<div class="grid-container1">
<div class="ingredients-nutrition">
	<h3>INGREDIENTS</h3><br>
    <div class="ingredient">
        <div class="circle-image">
            <img src="\views\images\recipes images\fit\caks2.jpg" alt="Ingredient Image 1">
        </div>
        <div class="ingredient-details">
            <p>8 ounce</p>
            <p>Brussels Sprouts</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks3.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Sweet Potatoes </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks4.jpg" alt="Ingredient Image 3">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Apple</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks5.jpg" alt="Ingredient Image 4">
        </div>
        <div class="ingredient-details">
            <p>1 clove </p>
            <p>Garlic</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks6.jpg" alt="Ingredient Image 5">
        </div>
        <div class="ingredient-details">
            <p>1 unit</p>
            <p>Ciabatta Bread</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks7.jpg" alt="Ingredient Image 6">
        </div>
        <div class="ingredient-details">
            <p>4 ounce</p>
            <p>Kale</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks8.jpg" alt="Ingredient Image 7">
        </div>
        <div class="ingredient-details">
            <p>1 tablespoon </p>
            <p>Fry Seasoning</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks9.jpg" alt="Ingredient Image 8">
        </div>
        <div class="ingredient-details">
            <p>4.5 ounce</p>
            <p>Honey Dijon Dressing</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks10.jpg" alt="Ingredient Image 9">
        </div>
        <div class="ingredient-details">
            <p>3 tablespoon </p>
            <p>Parmesan Cheese</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/fit/caks11.jpg" alt="Ingredient Image 10">
        </div>
        <div class="ingredient-details">
            <p>1 ounce </p>
            <p>Dried Cranberries</p>
        </div>
    </div>
</div>
<div class="nutrition">
	<div>
		<h3>NUTRITION </h3>
		<ul>
			<li>Energy(KJ) </li>
			<li>Calories </li>
			<li>Fats </li>
			<li>Saturated Fats </li>
			<li>Carbohydrates </li>
			<li>Sugar </li>
            <li>Dietary Fiber </li>
			<li>Protein </li>
			<li>Cholestrol </li>
            <li>Sodium </li>
		</ul>
	</div>
	<div>
		<p>/ per serving</p>
		<ul>
			<li>2587 KJ </li>
			<li>890 kcal</li>
			<li>53 g</li>
			<li>15 g</li>
			<li>90 g</li>
			<li>34 g</li>
			<li>11 g</li>
			<li>14 g</li>
            <li>55 mg</li>
            <li>970 mg</li>
		</ul>
	</div>
</div>
</div>
<div class="instructions">
    <h3>INSTRUCTIONS</h3>
    <div class="instructions-container">
        <div class="steps">
            <img src="images/recipes images/fit/caks12.jpg" class="step-img">
            <p class="step-p">1. Adjust racks to top and middle positions and preheat oven to 425 degrees. Wash and dry produce. <br>
                Trim Brussels sprouts; halve or quarter lengthwise depending on size. Peel and dice sweet potato into ½-inch pieces. Peel and mince or grate garlic. Halve ciabatta lengthwise. Remove and discard any large stems from kale; chop into bite-size pieces. 
                Halve and core apple; thinly slice one half (whole apple for 4 servings).
                </p> 
        </div>
        <div class="steps">
            <img src="images/recipes images/fit/caks13.jpg" class="step-img">
            <p class="step-p">2. In a large bowl, toss Brussels sprouts and sweet potato with a large drizzle of oil, Fry Seasoning, salt, and pepper. Spread out across a baking sheet. (Keep bowl handy for Step 5.) <br>
                Roast on top rack until veggies are browned and tender, 20-25 minutes. <br>
                Let cool at least 5 minutes.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/fit/caks14.jpg" class="step-img">
            <p class="step-p">3. Once veggies are almost done, place 2 TBSP butter (4 TBSP for 4 servings) in a small microwave-safe bowl. Microwave until melted, 30 seconds. Stir in garlic to taste, then brush onto cut sides of ciabatta. Season with salt and pepper. <br>
                Place ciabatta, cut sides up, on one side of a second baking sheet.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/fit/caks15.jpg" class="step-img">
            <p class="step-p">4. Lightly oil opposite side of sheet from ciabatta; evenly sprinkle Parmesan into two 3-inch-wide circles (four circles for 4 servings) on sheet. • Toast on middle rack until ciabatta and frico are golden brown and crisp, 6-8 minutes. TIP: Check often to make sure the cheese doesn’t burn. <br>
                Let frico cool on sheet until crispy, then transfer to a paper-towel-lined plate.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/fit/caks16.jpg" class="step-img">
            <p class="step-p">5. Meanwhile, place kale in bowl used for veggies. Add a drizzle of olive oil; lightly season with salt. Using your hands, massage kale until leaves are tender, 30-60 seconds. <br>
                Add sliced apple, cranberries, and ¾ of the roasted veggies (save the rest for serving) to bowl; toss with honey Dijon dressing to taste. Season with salt and pepper.
                </p>
        </div>
        <div class="steps">
            <img src="images/recipes images/fit/caks17.jpg" class="step-img">
            <p class="step-p">6. Halve garlic ciabatta on a diagonal. Break frico into bite-size pieces. <br>
                Divide salad between plates or shallow bowls. Garnish with remaining roasted veggies and frico. Serve with garlic ciabatta on the side.
                </p>
        </div>
    </div>
</div>
</body>
</html>