<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/styles/footer.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" src="script.js"></script>
    <title>footer</title>
    <body>
    <div class="footer">
        <div class="footer-container">
            <div><img src="images/sp logo2.png" class="footer-logo"></div>
            <div class="columns">
                <div class="col1">
                    <ul>
                        <span class="heading"><li>First Col</li></span>
                        <li>First page</li>
                        <li>Second page</li>
                        <li>Third page</li>
                        <li>Fourth page</li>
                    </ul>
                </div>
                <div class="col1">
                    <ul>
                        <span class="heading"><li>Second Col</li></span>
                        <li>First page</li>
                        <li>Second page</li>
                        <li>Third page</li>
                        <li>Fourth page</li>
                    </ul>
                </div>
                <div class="col1">
                    <ul>
                        <span class="heading"><li>Third Col</li></span>
                        <li>First page</li>
                        <li>Second page</li>
                        <li>Third page</li>
                        <li>Fourth page</li>
                    </ul>
                </div>
            </div>
            <div class="col2">
                <p class="Subscribe">Subscribe</p>
                <input type="text" class="footer-input" placeholder="Enter Name">
                <p class="footer-desc2"> Subscribe to our newsletter to stay up to date on new <br>products and features. </p>
            </div>
        </div>
    </div>



    
</head>
<body>
    
</body>
</html>