<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" src="script.js"></script>
	<title></title>
</head>
<body>
	<img src="images/sp logo2.png" class="responsive-logo"><input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </label>



	<div class="nav">
		<img src="images/sp logo2.png" alt="" class="logo">
		<input type="text" placeholder="What are you Looking for?" class="search-box">
		<i class="fa-regular fa-heart" style="color: #003b22;"></i>
		<i class="fa-solid fa-cart-shopping" style="color: #003b22;"></i>
		<button class="user"><i class="fa-regular fa-user" style="color: #003b22;"></i><b> ABCD</b></button>
	</div>
	<div class="nav-2">
		<ul>
			<li>Home</li>
			<li>Menu</li>
			<li>About</li>
			<li>Contact Us</li>
		</ul>
		<button class="view-plans">View Plans</button>
</div>
<div class="border"></div>

<div class="hero">
	<div class="grid-container1">
		<div class="grid-item1">
			<p class="hero-lineA">Delicious Recipes Delivered <br>at your Doorstep.</p>
				<p class="hero-desc1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, minima, suscipit! <br>Laboriosam nisi iste impedit atque nobis libero iure neque repellendus</p>
				<button class="get-started">Get Started</button>
		</div>
		<div class="grid-item2">
			<img src="images/img1.png" alt="" class="hero-img">
		</div>
	</div>
</div>

<div class="features">
	<div class="grid-container2">
		<div class="feature1"><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Feature 1
			<div class="feature-paragraph">Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. </div>
		</div>
		<div class="feature2"><i class="fa-solid fa-circle" style="color: #9297a0;"></i> Feature 2
		<div class="feature-paragraph">Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. </div>
	</div>
		<div class="feature3"><i class="fa-solid fa-circle" style="color: #9297a0;"></i> Feature 3
		<div class="feature-paragraph">Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. </div>
	</div>
		<div class="feature4"><i class="fa-solid fa-circle" style="color: #9297a0;"></i> Feature 4
		<div class="feature-paragraph">Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. </div>
	</div>
	</div>
</div>

<div class="kit">
	<div class="kit-column-container">
		<img src="images/kit-image.jpg" class="kit-img">
		<div class="kit-column2-row">
			<span class="kit-lineA">What's Inside the Box?</span>
			<p class="kit-lineB">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="kit-feature1"><i class="fa-solid fa-circle" style="color: #9297a0;"></i> Lorem ipsum dolor sit amet consectetur adipisicing, elit. </div>
			<div class="kit-feature2"><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</div>
			<div class="kit-feature3"><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</div>
			<button class="explore-now">Explore Now</button>
		</div>
	</div>
</div>
<div class="special-offers">
	<h2>Weekly Special Offers</h2>
<div class="special-offers-grid">		
	<div class="special-offers-items">
			<a href="#"><img src="images/slide7.jpg"></a>
		</div>
		<div class="special-offers-items">
			<img src="images/slide2.jpg">
		</div>
	<!----------------------------------------------------------------->
		<div class="special-offers-items">
			<img src="images/slide4.jpg">
		</div>
	<!----------------------------------------------------------------->
		<div class="special-offers-items">
			<img src="images/slide9.jpg">
		</div>
		<!----------------------------------------------------------------->
		<div class="special-offers-items">
			<img src="images/slide10.jpg">
		</div>
    <!----------------------------------------------------------------->
		<div class="special-offers-items">
			<img src="images/slide3.jpg">
		</div>
	</div>
	<div class="buy-now-div">
		<button class="buy-now">BUY NOW</button>
	</div>
</div>
<div class="customers" style="background-color: #F3F3F3;">
	<h2>What Our Customers Say</h2>
	<div class="customers-grid">
		<div class="customer1-item">
			<p>“A testimonial describing what the person thinks about this service, product or startup in general.”</p>
			<img src="images/customer.png" class="customer-img">
			<p class="customer-name">Customer Name</p>
			<p class="customer-desc">Description</p>
			<i class="fa-brands fa-square-facebook"></i>
			<i class="fa-brands fa-twitter"></i>
		</div>
		<div class="customer2-item">
			<p>“A testimonial describing what the person thinks about this service, product or startup in general.”</p>
			<img src="images/customer.png" class="customer-img">
			<p class="customer-name">Customer Name</p>
			<p class="customer-desc">Description</p>
			<i class="fa-brands fa-square-facebook"></i>
			<i class="fa-brands fa-twitter"></i>
		</div>
		<div class="customer3-item">
			<p>“A testimonial describing what the person thinks about this service, product or startup in general.”</p>
			<img src="images/customer.png" class="customer-img">
			<p class="customer-name">Customer Name</p>
			<p class="customer-desc">Description</p>
			<i class="fa-brands fa-square-facebook"></i>
			<i class="fa-brands fa-twitter"></i>
		</div>
		<div class="customer4-item">
			<p>“A testimonial describing what the person thinks about this service, product or startup in general.”</p>
			<img src="images/customer.png" class="customer-img">
			<p class="customer-name">Customer Name</p>
			<p class="customer-desc">Description</p>
			<i class="fa-brands fa-square-facebook"></i>
			<i class="fa-brands fa-twitter"></i>
		</div>
	</div>
</div>

<div class="work">
	<div class="work-container">
		<div class="work-points">
			<h2>How We Work?</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. <br>Assumenda sapiente autem </p>
			<p><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
			<p><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
			<p><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
			<p><i class="fa-solid fa-circle" style="color: #9297a0;"></i>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
			<button class="more-about-us">More About Us</button>
		</div>
		<div>
			<img src="images/hand.png" class="hands">
		</div>
	</div>
</div>

<div class="footer">
	<div class="footer-container">
		<div><img src="images/sp logo2.png" class="footer-logo"></div>
		<div class="columns">
			<div class="col1">
				<ul>
					<span class="heading"><li>First Col</li></span>
					<li>First page</li>
					<li>Second page</li>
					<li>Third page</li>
					<li>Fourth page</li>
				</ul>
			</div>
			<div class="col1">
				<ul>
					<span class="heading"><li>Second Col</li></span>
					<li>First page</li>
					<li>Second page</li>
					<li>Third page</li>
					<li>Fourth page</li>
				</ul>
			</div>
			<div class="col1">
				<ul>
					<span class="heading"><li>Third Col</li></span>
					<li>First page</li>
					<li>Second page</li>
					<li>Third page</li>
					<li>Fourth page</li>
				</ul>
			</div>
		</div>
		<div class="col2">
			<p class="Subscribe">Subscribe</p>
			<input type="text" class="footer-input" placeholder="Enter Name">
			<p class="footer-desc2"> Subscribe to our newsletter to stay up to date on new <br>products and features. </p>
		</div>
	</div>
</div>
</body>
</html>