<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/styles/ingridents.css">
</head>
<body>
	<div class="ingredients-nutrition">
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img12.jpg" alt="Ingredient Image 1">
        </div>
        <div class="ingredient-details">
            <p>2 units</p>
            <p>Scallions</p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img47.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img49.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img58.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img51.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img52.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img53.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img54.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img56.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
    <div class="ingredient">
        <div class="circle-image">
            <img src="images/recipes images/veggies images/img47.jpg" alt="Ingredient Image 2">
        </div>
        <div class="ingredient-details">
            <p>230 grams</p>
            <p>Button Mushrooms </p>
        </div>
    </div>
</div>

</body>
</html>