<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
<form form action="/login" method="POST">
  <div class="register-container">
    <div class="item1">
      <img src="kit-image.jpg" class="kit-img">
    </div>
    <div class="item2">
        <h2>Get Started!</h2>
         <input type="email" placeholder="Enter your Email" class="email" id="email" name="email" required>
        <input type="password" placeholder="Enter your Password" class="password" id="password" name="password" required>
        <button type="submit" href="/index.html">Log In</button>
        <div class="option">
          <!--<p></p>or<p></p>-->
          <p>Don't have an Account? <a href="/register" target="">Sign Up</a></p>
          </div>
        </div>
    </div>
  </div>
</form>
</body>
</html>
<!--<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>


<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>-->